<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ortiz.com.br.portfolio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".activity.DevicesInfoActivity"
            android:label="@string/title_activity_devices_info" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GridViewExampleActivity"
            android:label="@string/title_activity_grid_view_example" />
        <activity
            android:name=".activity.HorizScrollViewExampleActivity"
            android:label="@string/title_activity_horiz_slider_view_example" />
        <activity
            android:name=".activity.RecicleViewExampleActivity"
            android:label="@string/title_activity_recicle_view_example" />
        <activity
            android:name=".activity.AppDetailsActivity"
            android:label="@string/title_activity_app_details" />
        <activity
            android:name=".activity.FrameLayoutExampleActivity"
            android:label="@string/title_activity_frame_layout_example" />
        <activity
            android:name=".activity.CardsExampleActivity"
            android:label="@string/title_activity_cards_example"></activity>
        <activity
            android:name=".activity.CustomViewExampleActivity"
            android:label="@string/title_activity_custom_view_example"></activity>

        <activity
            android:name=".activity.StoreExampleActivity"
            android:label="@string/title_activity_store_example"></activity>
    </application>

</manifest>
